body {
  background: black;
  padding: 0 24px;
  color: rgb(167, 244, 11); /* Change my color to yellow */
  margin: 0;
  height: 100vh;
}
h1:hover {
  color: blue;
}

img {
  margin: 1rem;
  padding: 2px;
}
#grp {
  width: 30%;
  height: 45%;
}

#one {
  display: block;
  width: 40%;
  height: 40%;
}

#football {
  width: 30%;
  height: 30%;
  transition: all ease-in;
}

.container {
  background: white;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  transition: all 2s;
}

#football::after {
  width: 50%;
  height: 50%;
  transform: rotate();
}
.container:hover {
  transform: rotateY(10deg);
  margin-right: 5rem;
}
